# SUPERVISED LEARNING

# K-NN METHOD

MACHINE LEARNING STEPS AND RULES TO BUILD A MODEL.

1. Extract features.<br/>
 a. Features and target should not have null values.<br/>
 b. Features should be of numeric in nature.<br/>
 c. Features should be of the type array/dataframe.<br/>
 d. Features should have some rows and columns.<br/>
2. Split the datasets into training datasets and testing datasets.<br/>
 e. Features should be on same scale.<br/>
3. Train the model on training datasets.<br/>
4. Testing the model on testing datasets.<br/>

THE IMPORTED DATA CONSISTS OF BOTH FEATURES AS WELL AS TARGET

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("c:/users/sande/Iris.csv")
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [3]:
y=df["Species"]

# 1.

In [4]:
X=df.drop("Species",axis=1)
X.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0   1            5.1           3.5            1.4           0.2
1   2            4.9           3.0            1.4           0.2
2   3            4.7           3.2            1.3           0.2
3   4            4.6           3.1            1.5           0.2
4   5            5.0           3.6            1.4           0.2

In [5]:
X=X.drop("Id",axis=1)
X.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0            5.1           3.5            1.4           0.2
1            4.9           3.0            1.4           0.2
2            4.7           3.2            1.3           0.2
3            4.6           3.1            1.5           0.2
4            5.0           3.6            1.4           0.2

# a

In [6]:
X.isna().sum()

SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
dtype: int64

In [7]:
y.isna().sum()

0

# b

In [8]:
X.dtypes

SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
dtype: object

# c

In [9]:
type(X)

pandas.core.frame.DataFrame

# d

In [10]:
X.shape

(150, 4)

# 2

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=42,stratify=y)

In [13]:
from sklearn.preprocessing import MinMaxScaler

In [14]:
scaler=MinMaxScaler()

In [15]:
X_train=scaler.fit_transform(X_train)

In [16]:
X_test=scaler.transform(X_test)

# 3

In [17]:
from sklearn.neighbors import KNeighborsClassifier

In [18]:
knn=KNeighborsClassifier(n_neighbors=5)

In [19]:
knn.fit(X_train,y_train)

KNeighborsClassifier()

# 4

In [20]:
knn.score(X_test,y_test)

0.9333333333333333

THE IMPORTED DATA CONSISTS OF FEATURES ONLY

In [21]:
data=pd.read_csv("c:/users/sande/irisonlyfeatures.csv")

In [22]:
data.head()

     0    1    2     3
0  5.1  3.1  1.4  0.19
1  4.6  3.4  1.3  2.10

In [23]:
df["Species"].value_counts()

Iris-virginica     50
Iris-setosa        50
Iris-versicolor    50
Name: Species, dtype: int64

In [24]:
data_scaled=scaler.transform(data)

In [25]:
knn.predict(data_scaled)

array(['Iris-setosa', 'Iris-versicolor'], dtype=object)